*{
    margin:  0px;
    padding: 0px;
}
body{
    background-color: rgb(219, 214, 248);
}

#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
}
#header{
    height: 141px;
    background-color: rgb(162, 161, 240);
    color: black;
    text-align: center;
    line-height: 100px;

}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#menu{
    background-color: rgb(139, 123, 230);
    color: black;
    height: 50px;
    border-bottom: 4px solid rgb(103, 83, 189);
}
#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}
#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid black;
}
#menu a{
    display: block;
    color: black;
    text-decoration: none;
    padding-left:  12px; 
    padding-right: 12px;
}
#menu a:hover{
    background: rgb(207, 179, 243);
}